<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="Proxy.Ip1" value="113.57.230.83"/>
		<add key="Proxy.Port1" value="80"/>
		<add key="Proxy.Ip2" value="111.161.126.89"/>
		<add key="Proxy.Port2" value="8080"/>
		<add key="Proxy.Ip3" value="222.73.165.25"/>
		<add key="Proxy.Port3" value="8080"/>
		<add key="Proxy.Ip4" value="122.228.156.126"/>
		<add key="Proxy.Port4" value="80"/>
		<add key="Proxy.ItemIp" value="117.79.73.166"/>
		<add key="Proxy.ItemPort" value="8080"/>
		<add key="MaxThread" value="4"/>
		<add key="MinValue" value="1"/>
		<add key="MaxValue" value="5"/>
		<add key="Level" value="2"/>
		<add key="ReTry" value="2"/>
		<add key="RankQuantity" value="11"/>
		<add key="GetRankQuantity" value="50"/>
		<add key="GetSalesQuantity" value="3"/>
		<add key="SerchMode" value="0"/>
		<add key="AutoSerchTime" value="07:00"/>
		<add key="BeginTimeMode" value="0"/>
		<add key="QuantityBeginTime" value="07:00"/>
		<add key="QuantityEndTime" value="07:00"/>
    <add key="Timedifference" value="7"/>
    <add key="PersonInCharge" value="All"/>
    <add key="DES.Key" value="12342342"/>
    <add key="DES.Iv" value="adfadfsddf"/>
    <add key="Email.Host" value="smtp.126.com"/>
    <add key="Email.Port" value="25"/>
    <add key="Email.Address" value="6/DX0WR1UW4L00HbDGeFFw=="/>
    <add key="Email.Password" value="mX5ysnb5Wdg9P+MfuJmltg=="/>
    <add key="Email.Recipient" value="hua.li@oigbuy.com"/>
	</appSettings>
  <connectionStrings>
    <add name="KeyWordSerch.Properties.Settings.SerchItemsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\SerchItems.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="MMSConnectionString" connectionString="Data Source=192.168.1.220;Initial Catalog=MMS;User ID=sa;Password=kingdee1!" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="100"/>
		</connectionManagement>
	</system.net>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
